{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block sidebar_links %}
<a href="/home">Home</a>
<a href="/admin_signup">Admin Signup</a>
<a href="/user_signup">User Signup</a>
<a href="/user_login">User Login</a>
<button type="button" onclick="toggleSidebar()">Close</button>
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Admin Login</h2>
    {% if message %}
    <p style="color: green; font-weight: 500;">{{ message }}</p>
    {% endif %}

    <form action="/admin_login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}