{% extends "base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block sidebar_links %}
<a href="/admin_login">Admin Login</a>
<a href="/user_signup">User Signup</a>
<a href="/user_login">User Login</a>
<button type="button" onclick="toggleSidebar()">Close</button>
{% endblock %}

{% block content %}
<div class="verify-otp-container">
    <h2>Verify OTP</h2>
    <p>OTP sent to {{email}}</p>
    <form action="/verify_otp" method="POST">
        <input type="hidden" name="name" value="{{name}}" required>
        <input type="hidden" name="email" value="{{email}}" required>
        <input type="hidden" name="mobile" value="{{mobile}}" required>
        <input type="hidden" name="password" value="{{password}}" required>
        <input type="hidden" name="otp" value="{{otp}}" required>
        <input type="text" name="cotp" placeholder="OTP" required>
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}